apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33 # ww-data group ID
        runAsUser: 33 # www-data user ID
        runAsGroup: 33 # www-data group ID

      containers:
        - name: linkding
          image: sissbruecker/linkding:1.40.0
          ports:
            - containerPort: 9090

          envFrom:
            #- configMapRef:
            #    name: linkding-configmap
            - secretRef:
                name: linkding-container-env

          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data

          securityContext:
            allowPrivilegeEscalation: false
            
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-pvc